<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter-with-background">
            <div class="col-lg-12 col-sm-12">
                <a href="#" class="portfolio-box-plans">
                    <img src="img/more_info/entrance.jpg" class="img-responsive framed-img" alt="">
                </a>
            </div>
            <div class="col-lg-12 col-sm-12">
                <a href="#" class="portfolio-box-plans">
                    <img src="img/more_info/lounge.jpg" class="img-responsive framed-img" alt="">
                </a>
            </div>
            <div class="col-lg-12 col-sm-12">
                <a href="#" class="portfolio-box-plans">
                    <img src="img/more_info/living-rooms.jpg" class="img-responsive framed-img" alt="">
                </a>
            </div>
            <div class="col-lg-12 col-sm-12">
                <a href="#" class="portfolio-box-plans">
                    <img src="img/more_info/badrooms.jpg" class="img-responsive framed-img" alt="">
                </a>
            </div>
            <div class="col-lg-12 col-sm-12">
                <a href="#" class="portfolio-box-plans">
                    <img src="img/more_info/bathrooms.jpg" class="img-responsive framed-img" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
