<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include site_plan_description.html %}
  {% include portfolio_site_plans_main.html %}
  {% include angle_villa_description.html %}
  {% include angle_villa_plan.html %}
  {% include short_villa_description.html %}
  {% include short_villa_plan.html %}
  {% include basic_villa_description.html %}
  {% include basic_villa_plan.html %}
  {% include view_villa_description.html %}
  {% include view_villa_plan.html %}
  {% include aside.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>